.title {
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.text {
    align-self: stretch;
    position: relative;
    line-height: 24px;
}
.input {
    align-self: stretch;
    flex: 1;
    border-radius: 16px;
    background-color: #2c2d3a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
}
.checkbox {
    width: 323px;
    height: 48px;
}
.checkbox1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.content {
    align-self: stretch;
    height: 357px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 14px;
}
.text1 {
    position: relative;
    line-height: 24px;
}
.btn {
    width: 342px;
    border-radius: 16px;
    background-color: #e33319;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}
.modal {
    position: relative;
    border-radius: 24px;
    background-color: #23242f;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    box-sizing: border-box;
    gap: 24px;
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: Poppins;
}
