.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 24px;
    background-color: #2c2d3a;
    width: 451px;
    height: 610px;
}
.text {
    position: relative;
    line-height: 24px;
}
.btn {
    position: absolute;
    top: 530px;
    left: 24px;
    border-radius: 16px;
    background-color: #e33319;
    width: 403px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
}
.top {
    position: absolute;
    top: 128px;
    left: 37px;
    width: 451px;
    height: 610px;
}
.mbListItemitemLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.iconshare {
    width: 100%;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.iconWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.iconcopy {
    width: 100%;
    position: relative;
    height: 24px;
}
.mbListItemitemRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}
.mbListItemBasic {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.text1 {
    position: relative;
    line-height: 16px;
}
.tag {
    border-radius: 100px;
    background-color: #e33319;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-size: 12px;
}
.top1 {
    width: 403px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0px;
}
.iconLeft {
    width: 24px;
    position: relative;
    height: 24px;
}
.title {
    flex: 1;
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.mbListItemitemLeft1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.mbListItemBasic1 {
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.mbListItemBasic2 {
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    color: #8b8ca7;
}
.list {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.mbListicon5 {
    width: 184px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    box-sizing: border-box;
    gap: 8px;
}
.row1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 36px;
}
.analytic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
}
.chartChild {
    position: absolute;
    top: 8px;
    left: 16px;
    border-radius: 100px;
    width: 48px;
    height: 48px;
    overflow: hidden;
}
.vectorIcon {
    width: 100%;
    position: relative;
    height: 6px;
}
.iconcolorDot {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px;
}
.iconcolorDotParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.frameParent {
    position: absolute;
    top: 7px;
    left: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}
.chart {
    width: 305px;
    position: relative;
    height: 64px;
}
.totalLiquidity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.paragraph {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.mbListItemitemRight1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    text-align: right;
}
.mbListItemBasic9 {
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    gap: 24px;
    font-size: 16px;
}
.topParent {
    position: absolute;
    top: 152px;
    left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
    text-align: left;
    font-size: 14px;
}
.right {
    position: absolute;
    top: 0px;
    left: 915px;
    width: 525px;
    height: 778px;
    text-align: center;
    font-size: 16px;
}
.mbListItemitemRight2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    color: #fff;
}
.mbListItemBasic10 {
    position: absolute;
    top: 128px;
    left: 61px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: #e33319;
}
.logoDexfullChild {
    align-self: stretch;
    width: 0px;
    position: relative;
}
.logoDexfull {
    width: 63.4px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.menuItemHorizontalitem {
    background-color: #1a1b23;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;
    box-sizing: border-box;
}
.menuItemHorizontalitem1 {
    background-color: rgba(0, 0, 0, 0);
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;
    box-sizing: border-box;
    color: #e33319;
}
.iconbase {
    width: 100%;
    position: relative;
    height: 16px;
}
.menuItemHorizontalitem2 {
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 24px;
    box-sizing: border-box;
    gap: 8px;
}
.menu2 {
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    left: 2rem;
    top: 0.5rem;
}
.menu1 {
    position: absolute;
    top: 0px;
    left: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.logoDexiconnic {
    width: 40px;
    position: relative;
    height: 40px;
}
.iconcolorDot2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
}
.tag1 {
    border-radius: 100px;
    background-color: #e33319;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
}
.address {
    border-radius: 100px;
    background-color: #2c2d3a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 16px;
    gap: 16px;
}
.btn1 {
    border-radius: 12px;
    background-color: #3b3c4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.itemRight {
    position: absolute;
    top: calc(50% - 20px);
    right: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 64px;
}
.iconicon2Coin {
    width: 78px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
}
.ethUsdcLp {
    position: absolute;
    top: calc(50% - 14px);
    left: 16px;
    line-height: 28px;
    font-weight: 600;
}
.tableCelladditionalComponen {
    width: 172px;
    position: relative;
    height: 48px;
}
.top2 {
    position: absolute;
    top: 248px;
    left: 61px;
    width: 294px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 18px;
}
.texttext {
    position: absolute;
    top: 296px;
    left: 155px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.dividerhorizontal {
    position: absolute;
    width: 100%;
    top: 31px;
    right: 0px;
    left: 0px;
    background-color: #2c2d3a;
    height: 1px;
}
.tab1 {
    box-shadow: 0px -2px 0px #0177fb inset;
    background-color: #1a1b23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 0px;
    font-size: 14px;
    color: #0177fb;
}
.tab2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 0px;
}
.tabs {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}
.tabsStyle1 {
    position: absolute;
    top: 176px;
    left: 61px;
    width: 830px;
    height: 32px;
    text-align: center;
    font-size: 16px;
}
.tabsStyle11 {
    position: absolute;
    top: 818px;
    left: 61px;
    width: 1318px;
    height: 32px;
    text-align: center;
    font-size: 16px;
}
.tabItemstyle2Itemsmall {
    flex: 1;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
}
.tabItemstyle2Itemsmall1 {
    flex: 1;
    border-radius: 8px;
    background-color: #3b3c4e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    color: #fff;
}
.tabsStyle2 {
    position: absolute;
    top: 248px;
    left: 671px;
    border-radius: 8px;
    background-color: #3b3c4e;
    width: 220px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: #e33319;
}
.chartIcon {
    width: 830px;
    position: relative;
    border-radius: 16px;
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
}
.time {
    width: 830px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}
.chart1 {
    position: absolute;
    top: 360px;
    left: 61px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.mbListItemitemRight3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    font-size: 16px;
    color: #fff;
}
.mbListItemBasic11 {
    width: 647px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    box-sizing: border-box;
    gap: 10px;
}
.mbListItemBasic12 {
    width: 647px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 16px;
    box-sizing: border-box;
    gap: 24px;
    font-size: 16px;
    color: #fff;
}
.mbListItemBasicParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameGroup {
    position: absolute;
    top: 890px;
    left: 61px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    color: #8b8ca7;
}
.mbListItemBasicContainer {
    position: absolute;
    top: 890px;
    left: 732px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    color: #8b8ca7;
}
.photo2021110817252 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 66px;
    height: 66px;
    object-fit: cover;
}
.kiba {
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 6px);
    line-height: 36px;
    display: inline-block;
    width: 103px;
    height: 32px;
    text-shadow: 2px 2px 5px rgba(239, 239, 239, 0.5);
    backdrop-filter: blur(4px);
}
.logo {
    position: absolute;
    top: 0.5rem;
    left: 22px;
    width: 146px;
    height: 66px;
    text-align: center;
    font-size: 24px;
    font-family: Rubik;
}
.liquidityDetails {
    width: 100%;
    position: relative;
    background-color: #1a1b23;
    height: 1194px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-family: Poppins;
}