.bgIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 403px;
    height: 154px;
}
.content {
    position: absolute;
    top: 18px;
    left: 24px;
    line-height: 24px;
    display: inline-block;
    width: 355px;
}
.bottom {
    position: absolute;
    top: 398px;
    left: 24px;
    width: 403px;
    height: 154px;
}
.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 24px;
    background-color: #2c2d3a;
    width: 451px;
    height: 408px;
}
.text {
    position: relative;
    line-height: 24px;
}
.btn {
    position: absolute;
    top: 328px;
    left: 24px;
    border-radius: 16px;
    background-color: #e33319;
    width: 403px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}
.title {
    position: absolute;
    top: 5.88%;
    left: 5.32%;
    line-height: 24px;
    color: #8b8ca7;
}
.title1 {
    position: absolute;
    top: 33.33%;
    left: 5.32%;
    line-height: 24px;
    color: #8b8ca7;
}
.iconbase {
    width: 100%;
    position: relative;
    height: 24px;
}
.iconWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.label {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.iconbase1 {
    width: 24px;
    position: relative;
    height: 24px;
}
.inputBigIcondefault {
    width: 174px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #3b3c4e;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 0px;
}
.inputBigIcondefault1 {
    width: 173px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #3b3c4e;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 0px;
}
.inputGroup {
    position: absolute;
    top: 56px;
    left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.text1 {
    position: relative;
    text-decoration: underline;
    line-height: 24px;
}
.btn1 {
    position: absolute;
    top: 136px;
    left: 344px;
    border-radius: 8px;
    width: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #e33319;
}
.text2 {
    position: absolute;
    top: calc(50% - 12px);
    left: 16px;
    line-height: 24px;
    font-weight: 600;
}
.iconbase4 {
    position: absolute;
    top: calc(50% - 12px);
    right: 16px;
    width: 24px;
    height: 24px;
}
.input {
    position: absolute;
    top: 168px;
    left: 24px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #3b3c4e;
    box-sizing: border-box;
    width: 403px;
    height: 56px;
    overflow: hidden;
}
.mbListItemitemLeft {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.mbListItemitemRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    text-align: right;
    font-size: 16px;
    color: #fff;
}
.mbListItemBasic {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.mbListItemitemRight1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}
.mbListItemBasic1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    font-size: 16px;
    color: #fff;
}
.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.mbListbasic7 {
    position: absolute;
    top: 248px;
    left: 24px;
    width: 403px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #8b8ca7;
}
.top {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 451px;
    height: 408px;
    color: #fff;
}
.cardaddLiquid {
    position: absolute;
    top: 128px;
    left: 37px;
    width: 451px;
    height: 556px;
}
.right {
    width: 38%;
    position: relative;
    background-color: #23242f;
    height: 900px;
    text-align: left;
    font-size: 14px;
    color: #8b8ca7;
    font-family: Poppins;
}
